Checks: bugprone-*,clang-analyzer-*,concurrency-*,google-*,linuxkernel-*,llvm-*,llvmlibc-*,misc-*,modernize-*,performance-*,readability-*,-llvm-header-guard,-google-readability-todo,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-readability-magic-numbers,-clang-analyzer-optin.portability.UnixAPI,-readability-uppercase-literal-suffix,-modernize-use-trailing-return-type,-llvmlibc-restrict-system-libc-headers,-llvmlibc-callee-namespace,-llvmlibc-implementation-in-namespace,-concurrency-mt-unsafe,-readability-identifier-length
